# Dependencies
node_modules/

# React build output
build/
dist/

# Spring Boot build
target/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# IntelliJ project files
*.iml